<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- 连接池技术-->

    <servlet>
        <servlet-name>ServletConfigurator</servlet-name>
        <servlet-class>
            org.logicalcobwebs.proxool.configuration.ServletConfigurator
        </servlet-class>
        <init-param>
            <param-name>xmlFile</param-name>
            <param-value>WEB-INF/proxool.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletConfigurator</servlet-name>
        <url-pattern>/servletConfigurator</url-pattern>
    </servlet-mapping>
    <!-- 404 页面不存在错误-->
     <error-page>
         <error-code>404</error-code>
         <location>/404.jsp</location>
     </error-page>

    <!-- 500 服务器内部错误
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page> -->

    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filter.SessionFilter</filter-class>
        <init-param>
            <param-name>logonStrings</param-name><!-- 对登录页面不进行过滤 -->
            <param-value>/enterprise/input_third2.jsp;/index.jsp;/zhiyin.jsp;/login.jsp;LoginAction.do;GetUserID.do;/404.jsp;/filter.jsp;/500.jsp;
                /enterprise/enterprise_message.jsp;/enterprise/input_first.jsp;/enterprise/input_first2.jsp;
                /enterprise/input_second.jsp;/enterprise/input_second2.jsp;/enterprise/input_third.jsp;
                /input_third2.jsp;Demand_delete.do;Demand_delete2.do;Enterprise_infirst.do;
                Enterprise_infirst2.do;Enterprise_insecond.do;Enterprise_insecond2.do;Enterprise_inthird.do;
                Enterprise_inthird2.do;List.do;
            </param-value>
        </init-param>
        <init-param>
            <param-name>includeStrings</param-name><!-- 只对指定过滤参数后缀进行过滤 -->
            <param-value>.do;.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>redirectPath</param-name><!-- 未通过跳转到登录界面 -->
            <param-value>/index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>disabletestfilter</param-name><!-- Y:过滤无效 -->
            <param-value>N</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>Checkcode</servlet-name>
        <servlet-class>servlet.Checkcode</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>Checkcode</servlet-name>
        <url-pattern>/checkcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--log4j日志记录xml-->
    <servlet>
        <servlet-name>Log4JTestServlet</servlet-name>
        <servlet-class>servlet.log.Log4JTestServlet</servlet-class>
    </servlet>

    <!--用来启动 log4jConfigLocation的servlet-->
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>servlet.log.Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>/WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Log4JInitServlet</servlet-name>
        <url-pattern>/test/jinit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log4JTestServlet</servlet-name>
        <url-pattern>/test/jtest</url-pattern>
    </servlet-mapping>
    <!--log4j配置结束-->


    <!--Admin-->
    <servlet>
        <servlet-name>Admin_modipwd</servlet-name>
        <servlet-class>servlet.admin.Admin_modipwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCollPwdServlet</servlet-name>
        <servlet-class>servlet.admin.ModifyCollPwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoModifyCollPwdServlet</servlet-name>
        <servlet-class>servlet.admin.GotoModifyCollPwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.admin.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>

        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/admin/downloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoModifyCollPwdServlet</servlet-name>
        <url-pattern>/admin/gotoModifyCollPwdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCollPwdServlet</servlet-name>
        <url-pattern>/admin/modifyCollPwdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_modipwd</servlet-name>
        <url-pattern>/admin/admin_modipwd</url-pattern>
    </servlet-mapping>
    <!--enterprise-->

    <servlet>
        <servlet-name>Enterprise_infirst</servlet-name>
        <servlet-class>servlet.enterprise.Enterprise_infirst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enterprise_insecond</servlet-name>
        <servlet-class>servlet.enterprise.Enterprise_insecond</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoreServlet</servlet-name>
        <servlet-class>weixin.servlet.util.CoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoreServlet</servlet-name>
        <url-pattern>/CoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Enterprise_inthird</servlet-name>
        <servlet-class>servlet.enterprise.Enterprise_inthird</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>servlet.enterprise.List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enterprise_infirst2</servlet-name>
        <servlet-class>servlet.enterprise.Enterprise_infirst2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demand_delete2</servlet-name>
        <servlet-class>servlet.enterprise.Demand_delete2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enterprise_insecond2</servlet-name>
        <servlet-class>servlet.enterprise.Enterprise_insecond2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enterprise_inthird2</servlet-name>
        <servlet-class>servlet.enterprise.Enterprise_inthird2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/enterprise/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Demand_delete</servlet-name>
        <servlet-class>servlet.enterprise.Demand_delete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Enterprise_infirst</servlet-name>
        <url-pattern>/enterprise/enterprise_infirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enterprise_insecond</servlet-name>
        <url-pattern>/enterprise/enterprise_insecond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enterprise_inthird</servlet-name>
        <url-pattern>/enterprise/enterprise_inthird</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demand_delete</servlet-name>
        <url-pattern>/enterprise/demand_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enterprise_infirst2</servlet-name>
        <url-pattern>/enterprise/enterprise_infirst2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demand_delete2</servlet-name>
        <url-pattern>/enterprise/demand_delete2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enterprise_insecond2</servlet-name>
        <url-pattern>/enterprise/enterprise_insecond2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enterprise_inthird2</servlet-name>
        <url-pattern>/enterprise/enterprise_inthird2</url-pattern>
    </servlet-mapping>

    <!--Student-->
    <servlet>
        <servlet-name>Student_CheckSanfangxieyi</servlet-name>
        <servlet-class>servlet.student.Student_CheckSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSuggest</servlet-name>
        <servlet-class>servlet.student.SearchSuggest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Problem_modify</servlet-name>
        <servlet-class>servlet.student.Problem_modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemtoSee</servlet-name>
        <servlet-class>servlet.student.ProblemtoSee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputStuInfoServlet</servlet-name>
        <servlet-class>servlet.student.InputStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryStuInfoServlet</servlet-name>
        <servlet-class>servlet.student.QueryStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoInfoServlet</servlet-name>
        <servlet-class>servlet.student.GotoInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_infoDownload</servlet-name>
        <servlet-class>servlet.student.Student_infoDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckProblem</servlet-name>
        <servlet-class>servlet.student.CheckProblem</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>Servlet_tijiao</servlet-name>
        <servlet-class>servlet.student.Servlet_tijiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_modipwd</servlet-name>
        <servlet-class>servlet.student.Student_modipwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_RequestSanfangxieyi</servlet-name>
        <servlet-class>servlet.student.Student_RequestSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Slist</servlet-name>
        <servlet-class>servlet.student.Slist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoPreviewServlet</servlet-name>
        <servlet-class>servlet.student.GotoPreviewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GotoPreviewServlet</servlet-name>
        <url-pattern>/student/gotoPreviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSuggest</servlet-name>
        <url-pattern>/student/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_CheckSanfangxieyi</servlet-name>
        <url-pattern>/student/student_checkSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Slist</servlet-name>
        <url-pattern>/student/slist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_infoDownload</servlet-name>
        <url-pattern>/student/student_infoDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Problem_modify</servlet-name>
        <url-pattern>/student/problem_modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemtoSee</servlet-name>
        <url-pattern>/student/problemtoSee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckProblem</servlet-name>
        <url-pattern>/student/checkProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_tijiao</servlet-name>
        <url-pattern>/student/servlet_tijiao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputStuInfoServlet</servlet-name>
        <url-pattern>/student/inputStuInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryStuInfoServlet</servlet-name>
        <url-pattern>/student/queryStuInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoInfoServlet</servlet-name>
        <url-pattern>/student/gotoInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_modipwd</servlet-name>
        <url-pattern>/student/student_modipwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_RequestSanfangxieyi</servlet-name>
        <url-pattern>/student/student_requestSanfangxieyi</url-pattern>
    </servlet-mapping>


    <!--College-->

    <servlet>
        <servlet-name>College_SelectDownloadSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_SelectDownloadSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_problemAll</servlet-name>
        <servlet-class>servlet.college.College_problemAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_select</servlet-name>
        <servlet-class>servlet.college.College_select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemtoSeeAll</servlet-name>
        <servlet-class>servlet.college.ProblemtoSeeAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InspectProblem</servlet-name>
        <servlet-class>servlet.college.InspectProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_ZipDownloadSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_ZipDownloadSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_CheckTrueSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_CheckTrueSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_SelectStamp</servlet-name>
        <servlet-class>servlet.college.College_SelectStamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadProblemServlet</servlet-name>
        <servlet-class>servlet.college.DownloadProblemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_selectResume</servlet-name>
        <servlet-class>servlet.college.College_selectResume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>College_selectResume</servlet-name>
        <url-pattern>/college/college_selectResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadProblemServlet</servlet-name>
        <url-pattern>/college/downloadProblemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_SelectStamp</servlet-name>
        <url-pattern>/college/college_selectStamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_problemAll</servlet-name>
        <url-pattern>/college/college_problemAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_CheckTrueSanfangxieyi</servlet-name>
        <url-pattern>/college/college_checkTrueSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>College_PassSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_PassSanfangxieyi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>College_PassSanfangxieyi</servlet-name>
        <url-pattern>/college/college_passSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>college_downloadSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_DownloadSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoCheckStuInfoServlet</servlet-name>
        <servlet-class>servlet.college.GotoCheckStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetStuInfoServlet</servlet-name>
        <servlet-class>servlet.college.ResetStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassStuInfoServlet</servlet-name>
        <servlet-class>servlet.college.PassStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>Servlet_guanli</servlet-name>
        <servlet-class>servlet.college.Servlet_guanli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_modipwd</servlet-name>
        <servlet-class>servlet.college.College_modipwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCollegeNameServlet</servlet-name>
        <servlet-class>servlet.college.GetCollegeNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackingCondition</servlet-name>
        <servlet-class>servlet.college.PackingCondition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadStuInfoServlet</servlet-name>
        <servlet-class>servlet.college.DownloadStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelServlet</servlet-name>
        <servlet-class>servlet.college.UploadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>college_checkSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_CheckSanfangxieyi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_infirst</servlet-name>
        <servlet-class>servlet.college.College_infirst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_insecond</servlet-name>
        <servlet-class>servlet.college.College_insecond</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_delete</servlet-name>
        <servlet-class>servlet.college.College_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_list</servlet-name>
        <servlet-class>servlet.college.College_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_SendMessage</servlet-name>
        <servlet-class>servlet.college.College_SendMessage</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>College_SendMessage</servlet-name>
        <url-pattern>/college/college_SendMessage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>College_SelectDownloadSanfangxieyi</servlet-name>
        <url-pattern>/college/college_selectDownloadSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>college_downloadSanfangxieyi</servlet-name>
        <url-pattern>/college/college_downloadSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_ZipDownloadSanfangxieyi</servlet-name>
        <url-pattern>/college/college_zipDownloadSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemtoSeeAll</servlet-name>
        <url-pattern>/college/problemtoSeeAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_select</servlet-name>
        <url-pattern>/college/college_select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InspectProblem</servlet-name>
        <url-pattern>/college/inspectProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_guanli</servlet-name>
        <url-pattern>/college/servlet_guanli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoCheckStuInfoServlet</servlet-name>
        <url-pattern>/college/gotoCheckStuInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetStuInfoServlet</servlet-name>
        <url-pattern>/college/resetStuInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassStuInfoServlet</servlet-name>
        <url-pattern>/college/passStuInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_modipwd</servlet-name>
        <url-pattern>/college/college_modipwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCollegeNameServlet</servlet-name>
        <url-pattern>/college/getCollegeNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackingCondition</servlet-name>
        <url-pattern>/college/packingCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadStuInfoServlet</servlet-name>
        <url-pattern>/college/downloadStuInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelServlet</servlet-name>
        <url-pattern>/college/uploadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>college_checkSanfangxieyi</servlet-name>
        <url-pattern>/college/college_checkSanfangxieyi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_infirst</servlet-name>
        <url-pattern>/college/college_infirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_insecond</servlet-name>
        <url-pattern>/college/college_insecond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_delete</servlet-name>
        <url-pattern>/college/college_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_list</servlet-name>
        <url-pattern>/college/college_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>College_NopassSanfangxieyi</servlet-name>
        <servlet-class>servlet.college.College_NopassSanfangxieyi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>College_NopassSanfangxieyi</servlet-name>
        <url-pattern>/college/college_nopassSanfangxieyi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Student_SecondSanfangxieyi</servlet-name>
        <servlet-class>servlet.student.Student_SecondSanfangxieyi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student_SecondSanfangxieyi</servlet-name>
        <url-pattern>/student/student_secondSanfangxieyi</url-pattern>
    </servlet-mapping>

    <!--navigation-->
    <servlet>
        <servlet-name>Navigation_CheckSanfangxieyi</servlet-name>
        <servlet-class>servlet.navigation.Navigation_CheckSanfangxieyi</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Navigation_CheckSanfangxieyi</servlet-name>
        <url-pattern>/navigation/navigation_checkSanfangxieyi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Navigation_demand</servlet-name>
        <servlet-class>servlet.navigation.Navigation_demand</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Navigation_demand</servlet-name>
        <url-pattern>/navigation/navigation_demand</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>Student_view</servlet-name>
        <servlet-class>servlet.navigation.Student_view</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>Navigation_edit</servlet-name>
        <servlet-class>servlet.navigation.Navigation_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_modipwd</servlet-name>
        <servlet-class>servlet.navigation.Navigation_modipwd</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Navigation_modify</servlet-name>
        <servlet-class>servlet.navigation.Navigation_modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Article_queryByNavi</servlet-name>
        <servlet-class>servlet.navigation.Article_queryByNavi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_review</servlet-name>
        <servlet-class>servlet.navigation.Navigation_review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_view</servlet-name>
        <servlet-class>servlet.navigation.Navigation_view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_save</servlet-name>
        <servlet-class>servlet.navigation.Navigation_save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Article_queryByPend</servlet-name>
        <servlet-class>servlet.navigation.Article_queryByPend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Article_queryByView</servlet-name>
        <servlet-class>servlet.navigation.Article_queryByView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_special</servlet-name>
        <servlet-class>servlet.navigation.Navigation_special</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Article_delete</servlet-name>
        <servlet-class>servlet.navigation.Article_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleByPage</servlet-name>
        <servlet-class>servlet.navigation.ArticleByPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_Stamp</servlet-name>
        <servlet-class>servlet.navigation.Navigation_Stamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation_CheckStamp</servlet-name>
        <servlet-class>servlet.navigation.Navigation_CheckStamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationSpecialView</servlet-name>
        <servlet-class>servlet.navigation.NavigationSpecialView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryStamp</servlet-name>
        <servlet-class>servlet.navigation.QueryStamp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QueryStamp</servlet-name>
        <url-pattern>/navigation/queryStamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationSpecialView</servlet-name>
        <url-pattern>/navigation/navigationSpecialView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_CheckStamp</servlet-name>
        <url-pattern>/navigation/navigation_checkStamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_Stamp</servlet-name>
        <url-pattern>/navigation/navigation_stamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleByPage</servlet-name>
        <url-pattern>/navigation/articleByPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article_delete</servlet-name>
        <url-pattern>/navigation/article_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_view</servlet-name>
        <url-pattern>/navigation/student_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_edit</servlet-name>
        <url-pattern>/navigation/navigation_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_modipwd</servlet-name>
        <url-pattern>/navigation/navigation_modipwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_modify</servlet-name>
        <url-pattern>/navigation/navigation_modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article_queryByNavi</servlet-name>
        <url-pattern>/navigation/article_queryByNavi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_review</servlet-name>
        <url-pattern>/navigation/navigation_review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_view</servlet-name>
        <url-pattern>/navigation/navigation_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_save</servlet-name>
        <url-pattern>/navigation/navigation_save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article_queryByPend</servlet-name>
        <url-pattern>/navigation/article_queryByPend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article_queryByView</servlet-name>
        <url-pattern>/navigation/article_queryByView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation_special</servlet-name>
        <url-pattern>/navigation/navigation_special</url-pattern>
    </servlet-mapping>

    <!--Article-->
    <servlet>
        <servlet-name>Article_query</servlet-name>
        <servlet-class>servlet.article.Article_query</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_major</servlet-name>
        <servlet-class>servlet.article.College_major</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demand_query</servlet-name>
        <servlet-class>servlet.article.Demand_query</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>College_major</servlet-name>
        <url-pattern>/college_major</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demand_query</servlet-name>
        <url-pattern>/demand_query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article_query</servlet-name>
        <url-pattern>/article_query</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Mainpage</servlet-name>
        <servlet-class>servlet.Mainpage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateqiye</servlet-name>
        <servlet-class>weixin.test.updateqiye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterTagServlet</servlet-name>
        <servlet-class>weixin.test.alterTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserID</servlet-name>
        <servlet-class>weixin.test.GetUserID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterInfoServlet</servlet-name>
        <servlet-class>weixin.test.alterInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeStamp</servlet-name>
        <servlet-class>servlet.student.MakeStamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStamp</servlet-name>
        <servlet-class>servlet.college.CheckStamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeacherNamesServlet</servlet-name>
        <servlet-class>servlet.student.GetTeacherNamesServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ModifyStudentInfo</servlet-name>
        <servlet-class>servlet.college.ModifyStudentInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_handleResume</servlet-name>
        <servlet-class>servlet.college.College_handleResume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>College_handleResume</servlet-name>
        <url-pattern>/college/college_handleResume</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyStudentInfo</servlet-name>
        <url-pattern>/college/modifyStudentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStamp</servlet-name>
        <url-pattern>/college/checkStamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeStamp</servlet-name>
        <url-pattern>/student/makeStamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mainpage</servlet-name>
        <url-pattern>/mainpage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateqiye</servlet-name>
        <url-pattern>/updateqiye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterTagServlet</servlet-name>
        <url-pattern>/alterTagServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetUserID</servlet-name>
        <url-pattern>/GetUserID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterInfoServlet</servlet-name>
        <url-pattern>/alterInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTeacherNamesServlet</servlet-name>
        <url-pattern>/student/getTeacherNamesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTeacherListServlet</servlet-name>
        <servlet-class>servlet.student.GetTeacheListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTeacherListServlet</servlet-name>
        <url-pattern>/student/getTeacherListServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
