<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.ProxoolConnectionProvider</property>
        <property name="hibernate.proxool.pool_alias">guestbook</property>
        <property name="hibernate.proxool.xml">WEB-INF/proxool.xml</property>
        <property name="hibernate.proxool.existing_pool">true</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <mapping resource="po/AdminEntity.hbm.xml"/>
        <mapping resource="po/ArticleEntity.hbm.xml"/>
        <mapping resource="po/CollegeEntity.hbm.xml"/>
        <mapping resource="po/CollegeloginEntity.hbm.xml"/>
        <mapping resource="po/ColumnEntity.hbm.xml"/>
        <mapping resource="po/DemandEntity.hbm.xml"/>
        <mapping resource="po/MajorEntity.hbm.xml"/>
        <mapping resource="po/NavigationloginEntity.hbm.xml"/>
        <mapping resource="po/ProblemEntity.hbm.xml"/>
        <mapping resource="po/StudentEntity.hbm.xml"/>
        <mapping resource="po/StudentloginEntity.hbm.xml"/>
        <mapping resource="po/XieyiEntity.hbm.xml"/>
        <mapping resource="po/CitycodeEntity.hbm.xml"/>
        <mapping resource="po/BachelorEntity.hbm.xml"/>
        <mapping resource="po/DegreeEntity.hbm.xml"/>
        <mapping resource="po/NationEntity.hbm.xml"/>
        <mapping resource="po/PoliticalEntity.hbm.xml"/>
        <mapping resource="po/SexEntity.hbm.xml"/>
        <mapping resource="po/TrainingmodeEntity.hbm.xml"/>
        <mapping resource="po/XingzhengquhuaEntity.hbm.xml"/>
        <mapping resource="po/StampEntity.hbm.xml"/>
        <mapping resource="po/ResumeEntity.hbm.xml"/>
        <mapping resource="po/TeacherEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>